# Charity Funding Predictor - Optimized version

## Preprocessing

In [1]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
# tf.keras.callbacks.ModelCheckpoint

#  read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
pd.options.display.max_columns = 50

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns = ['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'STATUS'])
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,6692,1
4,T3,Independent,C1000,Heathcare,Trust,142590,1

In [37]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = df['APPLICATION_TYPE'].value_counts() \
                                                        .loc[lambda x : x < 200] \
                                                        .index \
                                                        .to_list()
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [40]:
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

In [41]:
# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = df['CLASSIFICATION'].value_counts() \
                                                    .loc[lambda x : x < 1000] \
                                                    .index \
                                                    .to_list()
# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [45]:
df.nunique()

APPLICATION_TYPE       9
AFFILIATION            6
CLASSIFICATION         6
USE_CASE               5
ORGANIZATION           4
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`
transformed_df = pd.get_dummies(df)
transformed_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,5000,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
2,5000,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
4,142590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
34295,5000,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
34296,5000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
34297,5000,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
34298,36500179,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0

In [47]:
# Split our preprocessed data into our features and target arrays

X = transformed_df.drop(columns = 'IS_SUCCESSFUL')
y = transformed_df['IS_SUCCESSFUL']

In [48]:
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 75)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25724, 31), (8575, 31), (25724,), (8575,))

In [49]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [72]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, activation="relu", input_dim=31))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_47 (Dense)            (None, 100)               3200

 dense_48 (Dense)            (None, 60)                6060

 dense_49 (Dense)            (None, 30)                1830

 dense_50 (Dense)            (None, 1)                 31

=================================================================
Total params: 11,121
Trainable params: 11,121
Non-trainable params: 0
_________________________________________________________________

In [73]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
nn_model

In [74]:
# Train the model

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50, verbose = 1)

Epoch 1/50
804/804 [==============================] - 1s 640us/step - loss: 0.5737 - accuracy: 0.7177
Epoch 2/50
804/804 [==============================] - 1s 626us/step - loss: 0.5657 - accuracy: 0.7226
Epoch 3/50
804/804 [==============================] - 1s 641us/step - loss: 0.5637 - accuracy: 0.7231
Epoch 4/50
804/804 [==============================] - 1s 647us/step - loss: 0.5627 - accuracy: 0.7240
Epoch 5/50
804/804 [==============================] - 1s 636us/step - loss: 0.5615 - accuracy: 0.7238
Epoch 6/50
804/804 [==============================] - 1s 718us/step - loss: 0.5608 - accuracy: 0.7257
Epoch 7/50
804/804 [==============================] - 1s 642us/step - loss: 0.5597 - accuracy: 0.7251
Epoch 8/50
804/804 [==============================] - 1s 640us/step - loss: 0.5592 - accuracy: 0.7258
Epoch 9/50
804/804 [==============================] - 1s 649us/step - loss: 0.5588 - accuracy: 0.7264
Epoch 10/50
804/804 [==============================] - 1s 647us/step - loss: 0.5582 - accuracy: 0.7262
Epoch 11/50
804/804 [==============================] - 1s 651us/step - loss: 0.5579 - accuracy: 0.7274
Epoch 12/50
804/804 [==============================] - 1s 689us/step - loss: 0.5573 - accuracy: 0.7266
Epoch 13/50
804/804 [==============================] - 1s 680us/step - loss: 0.5571 - accuracy: 0.7274
Epoch 14/50
804/804 [==============================] - 1s 950us/step - loss: 0.5567 - accuracy: 0.7285
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7276
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5563 - accuracy: 0.7282
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7278
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7284
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7292
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7291
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7292: 0s - loss:
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7285
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7299
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7289
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7298
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7306
Epoch 27/50
804/804 [==============================] - 1s 997us/step - loss: 0.5524 - accuracy: 0.7299
Epoch 28/50
804/804 [==============================] - 1s 980us/step - loss: 0.5523 - accuracy: 0.7299
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7299
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7308
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7299
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7299
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7311
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7301
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7305
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7314
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7308
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7308
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7311
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7314
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7320
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7320
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7316
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7318
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7315
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7311
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7317
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7317
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7313
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7313

In [75]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5513 - accuracy: 0.7362 - 152ms/epoch - 569us/step
Loss: 0.5512856841087341, Accuracy: 0.7362099289894104

In [53]:
# Export our model to HDF5 file

nn_model.save('../Resources/AlphabetSoupCharity_Optimization.h5')