# Charity Funding Predictor

## Preprocessing

In [23]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
# tf.keras.callbacks.ModelCheckpoint

#  read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
pd.options.display.max_columns = 50

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns = ['EIN', 'NAME'])
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = df['APPLICATION_TYPE'].value_counts() \
                                                        .loc[lambda x : x < 200] \
                                                        .index \
                                                        .to_list()
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

In [8]:
# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = df['CLASSIFICATION'].value_counts() \
                                                    .loc[lambda x : x < 1000] \
                                                    .index \
                                                    .to_list()
# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
df.nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
transformed_df = pd.get_dummies(df)
transformed_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays

X = transformed_df.drop(columns = 'IS_SUCCESSFUL')
y = transformed_df['IS_SUCCESSFUL']

In [15]:
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 75)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25724, 43), (8575, 43), (25724,), (8575,))

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                3520

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
nn_model

In [51]:
# Train the model

# Include the epoch in the file name (uses `str.format`)
checkpoint_path = "training/cp-{epoch:04d}.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)

batch_size = 32

# Create a callback that saves the model's weights every 5 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                                 save_weights_only=True, 
#                                                  save_freq = 5*batch_size, 
                                                 verbose=1)

# Save the weights using the `checkpoint_path` format
nn_model.save_weights(checkpoint_path.format(epoch=0))

# Train the model with the new callback
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50, 
#                          batch_size=batch_size,
                        validation_data=(X_test, y_test), callbacks=[cp_callback], verbose = 1)

Epoch 1/50
748/804 [==========================>...] - ETA: 0s - loss: 0.5735 - accuracy: 0.7139
Epoch 00001: saving model to training\cp-0001.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5719 - accuracy: 0.7147 - val_loss: 0.7033 - val_accuracy: 0.5254
Epoch 2/50
763/804 [===========================>..] - ETA: 0s - loss: 0.5578 - accuracy: 0.7246
Epoch 00002: saving model to training\cp-0002.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5581 - accuracy: 0.7243 - val_loss: 0.6925 - val_accuracy: 0.5254
Epoch 3/50
779/804 [============================>.] - ETA: 0s - loss: 0.5554 - accuracy: 0.7273
Epoch 00003: saving model to training\cp-0003.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7279 - val_loss: 0.6924 - val_accuracy: 0.5254
Epoch 4/50
764/804 [===========================>..] - ETA: 0s - loss: 0.5528 - accuracy: 0.7301
Epoch 00004: saving model to training\cp-0004.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7302 - val_loss: 0.6990 - val_accuracy: 0.4746
Epoch 5/50
762/804 [===========================>..] - ETA: 0s - loss: 0.5515 - accuracy: 0.7291
Epoch 00005: saving model to training\cp-0005.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7293 - val_loss: 0.7095 - val_accuracy: 0.5254
Epoch 6/50
764/804 [===========================>..] - ETA: 0s - loss: 0.5508 - accuracy: 0.7293
Epoch 00006: saving model to training\cp-0006.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7298 - val_loss: 0.7117 - val_accuracy: 0.5254
Epoch 7/50
772/804 [===========================>..] - ETA: 0s - loss: 0.5499 - accuracy: 0.7304 ETA: 0s - loss: 0.5477 - accu
Epoch 00007: saving model to training\cp-0007.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7297 - val_loss: 0.7044 - val_accuracy: 0.5254
Epoch 8/50
758/804 [===========================>..] - ETA: 0s - loss: 0.5496 - accuracy: 0.7291
Epoch 00008: saving model to training\cp-0008.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7297 - val_loss: 0.7067 - val_accuracy: 0.4746
Epoch 9/50
779/804 [============================>.] - ETA: 0s - loss: 0.5497 - accuracy: 0.7287
Epoch 00009: saving model to training\cp-0009.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7298 - val_loss: 0.6988 - val_accuracy: 0.4746
Epoch 10/50
751/804 [===========================>..] - ETA: 0s - loss: 0.5483 - accuracy: 0.7335
Epoch 00010: saving model to training\cp-0010.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7332 - val_loss: 0.7088 - val_accuracy: 0.4746
Epoch 11/50
801/804 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7319
Epoch 00011: saving model to training\cp-0011.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7320 - val_loss: 0.7322 - val_accuracy: 0.4746
Epoch 12/50
765/804 [===========================>..] - ETA: 0s - loss: 0.5462 - accuracy: 0.7312
Epoch 00012: saving model to training\cp-0012.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7313 - val_loss: 0.7435 - val_accuracy: 0.4746
Epoch 13/50
754/804 [===========================>..] - ETA: 0s - loss: 0.5456 - accuracy: 0.7325
Epoch 00013: saving model to training\cp-0013.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7326 - val_loss: 0.7445 - val_accuracy: 0.4746
Epoch 14/50
780/804 [============================>.] - ETA: 0s - loss: 0.5467 - accuracy: 0.7317
Epoch 00014: saving model to training\cp-0014.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7320 - val_loss: 0.7682 - val_accuracy: 0.4746
Epoch 15/50
750/804 [==========================>...] - ETA: 0s - loss: 0.5455 - accuracy: 0.7325
Epoch 00015: saving model to training\cp-0015.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7332 - val_loss: 0.7749 - val_accuracy: 0.4746
Epoch 16/50
752/804 [===========================>..] - ETA: 0s - loss: 0.5451 - accuracy: 0.7336
Epoch 00016: saving model to training\cp-0016.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7340 - val_loss: 0.7819 - val_accuracy: 0.4746
Epoch 17/50
753/804 [===========================>..] - ETA: 0s - loss: 0.5451 - accuracy: 0.7338 ETA: 0s - loss: 0.5417 - accura
Epoch 00017: saving model to training\cp-0017.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7342 - val_loss: 0.7348 - val_accuracy: 0.4746
Epoch 18/50
803/804 [============================>.] - ETA: 0s - loss: 0.5446 - accuracy: 0.7330
Epoch 00018: saving model to training\cp-0018.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7331 - val_loss: 0.7291 - val_accuracy: 0.4746
Epoch 19/50
754/804 [===========================>..] - ETA: 0s - loss: 0.5456 - accuracy: 0.7327
Epoch 00019: saving model to training\cp-0019.ckpt
804/804 [==============================] - 1s 990us/step - loss: 0.5443 - accuracy: 0.7334 - val_loss: 0.7228 - val_accuracy: 0.4746
Epoch 20/50
793/804 [============================>.] - ETA: 0s - loss: 0.5430 - accuracy: 0.7346
Epoch 00020: saving model to training\cp-0020.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7337 - val_loss: 0.7340 - val_accuracy: 0.4746
Epoch 21/50
784/804 [============================>.] - ETA: 0s - loss: 0.5439 - accuracy: 0.7321
Epoch 00021: saving model to training\cp-0021.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7323 - val_loss: 0.7246 - val_accuracy: 0.4746
Epoch 22/50
783/804 [============================>.] - ETA: 0s - loss: 0.5436 - accuracy: 0.7342
Epoch 00022: saving model to training\cp-0022.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7343 - val_loss: 0.7438 - val_accuracy: 0.4746
Epoch 23/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5423 - accuracy: 0.7351
Epoch 00023: saving model to training\cp-0023.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7338 - val_loss: 0.7318 - val_accuracy: 0.4746
Epoch 24/50
784/804 [============================>.] - ETA: 0s - loss: 0.5436 - accuracy: 0.7335
Epoch 00024: saving model to training\cp-0024.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7339 - val_loss: 0.7291 - val_accuracy: 0.4746
Epoch 25/50
770/804 [===========================>..] - ETA: 0s - loss: 0.5433 - accuracy: 0.7335
Epoch 00025: saving model to training\cp-0025.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7335 - val_loss: 0.6991 - val_accuracy: 0.4746
Epoch 26/50
755/804 [===========================>..] - ETA: 0s - loss: 0.5433 - accuracy: 0.7330
Epoch 00026: saving model to training\cp-0026.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7336 - val_loss: 0.7361 - val_accuracy: 0.4746
Epoch 27/50
756/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7341
Epoch 00027: saving model to training\cp-0027.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7347 - val_loss: 0.7351 - val_accuracy: 0.4746
Epoch 28/50
764/804 [===========================>..] - ETA: 0s - loss: 0.5432 - accuracy: 0.7332
Epoch 00028: saving model to training\cp-0028.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7340 - val_loss: 0.7319 - val_accuracy: 0.4746
Epoch 29/50
770/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7340
Epoch 00029: saving model to training\cp-0029.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7345 - val_loss: 0.6992 - val_accuracy: 0.4746
Epoch 30/50
749/804 [==========================>...] - ETA: 0s - loss: 0.5415 - accuracy: 0.7352 ETA: 0s - loss: 0.5400 - accura
Epoch 00030: saving model to training\cp-0030.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7358 - val_loss: 0.6993 - val_accuracy: 0.4746
Epoch 31/50
763/804 [===========================>..] - ETA: 0s - loss: 0.5419 - accuracy: 0.7353
Epoch 00031: saving model to training\cp-0031.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7352 - val_loss: 0.7197 - val_accuracy: 0.4746
Epoch 32/50
765/804 [===========================>..] - ETA: 0s - loss: 0.5421 - accuracy: 0.7350
Epoch 00032: saving model to training\cp-0032.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7355 - val_loss: 0.6993 - val_accuracy: 0.4746
Epoch 33/50
797/804 [============================>.] - ETA: 0s - loss: 0.5415 - accuracy: 0.7360
Epoch 00033: saving model to training\cp-0033.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7363 - val_loss: 0.8480 - val_accuracy: 0.4746
Epoch 34/50
791/804 [============================>.] - ETA: 0s - loss: 0.5417 - accuracy: 0.7359
Epoch 00034: saving model to training\cp-0034.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7364 - val_loss: 0.8138 - val_accuracy: 0.4746
Epoch 35/50
748/804 [==========================>...] - ETA: 0s - loss: 0.5416 - accuracy: 0.7353
Epoch 00035: saving model to training\cp-0035.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7360 - val_loss: 0.8206 - val_accuracy: 0.4746
Epoch 36/50
749/804 [==========================>...] - ETA: 0s - loss: 0.5415 - accuracy: 0.7349
Epoch 00036: saving model to training\cp-0036.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7359 - val_loss: 0.7314 - val_accuracy: 0.4746
Epoch 37/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5410 - accuracy: 0.7358
Epoch 00037: saving model to training\cp-0037.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7358 - val_loss: 0.7514 - val_accuracy: 0.4746
Epoch 38/50
753/804 [===========================>..] - ETA: 0s - loss: 0.5413 - accuracy: 0.7355
Epoch 00038: saving model to training\cp-0038.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7356 - val_loss: 0.7548 - val_accuracy: 0.4746
Epoch 39/50
750/804 [==========================>...] - ETA: 0s - loss: 0.5394 - accuracy: 0.7355 ETA: 0s - loss: 0.5346 -
Epoch 00039: saving model to training\cp-0039.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7354 - val_loss: 0.7538 - val_accuracy: 0.4746
Epoch 40/50
794/804 [============================>.] - ETA: 0s - loss: 0.5402 - accuracy: 0.7371 ETA: 0s - loss: 0.5397 -
Epoch 00040: saving model to training\cp-0040.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7367 - val_loss: 0.7044 - val_accuracy: 0.4746
Epoch 41/50
780/804 [============================>.] - ETA: 0s - loss: 0.5412 - accuracy: 0.7359
Epoch 00041: saving model to training\cp-0041.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7364 - val_loss: 0.7730 - val_accuracy: 0.4746
Epoch 42/50
759/804 [===========================>..] - ETA: 0s - loss: 0.5401 - accuracy: 0.7358
Epoch 00042: saving model to training\cp-0042.ckpt
804/804 [==============================] - 1s 997us/step - loss: 0.5400 - accuracy: 0.7362 - val_loss: 0.7068 - val_accuracy: 0.4746
Epoch 43/50
804/804 [==============================] - ETA: 0s - loss: 0.5400 - accuracy: 0.7366
Epoch 00043: saving model to training\cp-0043.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7366 - val_loss: 0.6992 - val_accuracy: 0.4746
Epoch 44/50
752/804 [===========================>..] - ETA: 0s - loss: 0.5397 - accuracy: 0.7367
Epoch 00044: saving model to training\cp-0044.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7368 - val_loss: 0.7010 - val_accuracy: 0.4746
Epoch 45/50
758/804 [===========================>..] - ETA: 0s - loss: 0.5390 - accuracy: 0.7366
Epoch 00045: saving model to training\cp-0045.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7363 - val_loss: 0.7136 - val_accuracy: 0.4746
Epoch 46/50
794/804 [============================>.] - ETA: 0s - loss: 0.5390 - accuracy: 0.7374 ETA: 0s - loss: 0.5341 - accu
Epoch 00046: saving model to training\cp-0046.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7372 - val_loss: 0.7250 - val_accuracy: 0.5254
Epoch 47/50
754/804 [===========================>..] - ETA: 0s - loss: 0.5408 - accuracy: 0.7369
Epoch 00047: saving model to training\cp-0047.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7373 - val_loss: 0.7054 - val_accuracy: 0.4746
Epoch 48/50
748/804 [==========================>...] - ETA: 0s - loss: 0.5381 - accuracy: 0.7371
Epoch 00048: saving model to training\cp-0048.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7367 - val_loss: 0.7092 - val_accuracy: 0.4746
Epoch 49/50
759/804 [===========================>..] - ETA: 0s - loss: 0.5370 - accuracy: 0.7388 ETA: 0s - loss: 0.5367 - ac
Epoch 00049: saving model to training\cp-0049.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7368 - val_loss: 0.7134 - val_accuracy: 0.4746
Epoch 50/50
782/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7378
Epoch 00050: saving model to training\cp-0050.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7375 - val_loss: 0.7069 - val_accuracy: 0.4746

In [52]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5485 - accuracy: 0.7341 - 342ms/epoch - 1ms/step
Loss: 0.5484893918037415, Accuracy: 0.7341107726097107

In [53]:
# Export our model to HDF5 file

nn_model.save('../Resources/AlphabetSoupCharity.h5')

In [35]:
# pip install pyyaml h5py

Requirement already satisfied: pyyaml in c:\users\kesam\anaconda3\lib\site-packages (5.4.1)
Requirement already satisfied: h5py in c:\users\kesam\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: numpy>=1.7 in c:\users\kesam\anaconda3\lib\site-packages (from h5py) (1.20.1)
Requirement already satisfied: six in c:\users\kesam\anaconda3\lib\site-packages (from h5py) (1.15.0)
Note: you may need to restart the kernel to use updated packages.